/* IMPORT DES FEUILLES DE STYLE */
@import './base.css';
@import './utils.css';

/* STYLE PROPRE A L'APPLICATION */
.home-container {
  width: 80%;
  margin: 5rem auto;
}

.home-title {
  margin: 5rem auto 2rem auto;
  text-align: center;
  color: rgba(255,255,255,0.9);
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  line-height: 3rem;
  text-decoration: inherit;
}

.home-item {
  margin: 5rem auto 2rem auto;
  color: rgba(255,255,255,0.9);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  line-height: 3rem;
  cursor: pointer;
}

.home-item:hover {
  font-weight: 700;
}