.flex {
  display: flex;
}

.grid {
  display: grid;
}

.wrap {
  flex-wrap: wrap;
}

.between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.quad-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.center-text {
  text-align: center;
}

.gap {
  gap: 1rem;
}

.vgap {
  gap: 1rem 0;
}

.mh-auto {
  margin: 0 auto;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.no-link {
  text-decoration: none;
}